body{   /* body = ページ全体に適応する設定 */
    font-family: Arial, sans-serif; 
    /* フォントのデザインを指定 */
    /* まずArialフォントを使うが、なかった場合にsans-serif */
    max-width: 600px;
    /* 横幅を最大600ピクセルに */
    margin: 40px auto;
    /* 上下40ピクセルの余白、左右はautoによってブラウザで自動調整 */
}

h1 {   /* h1に適応される設定 */
    text-align: center;
    /* 文字を中央寄せ */
}

li{  /* リスト部分の設定 */
    margin: 15px 0;
    /* 上下15px, 左右0の余白 */
    font-size: 18px;
    /* 文字サイズ18px */
}

.progress-container {
    width: 100%; /*親要素であるbodyの幅の100% = 600px  */
    height: 25px; 
    background-color: #ddd; /* #ddd カラーコードで灰色系の色、カラーコードを使うと
    色の名前を直接指定するよりも細かい調整ができる  */
    border-radius: 10px; /*　角を丸くする  */
}

#progress-bar {
    width: 0%;
    height: 100%; /*親要素であるprogress-containerの高さの100%つまり25pxになる*/
    background-color: green;
    border-radius: 10px;
}

.task-input-area {
    display: flex;   /* 子要素（ここでは、inputとbutton）を横方向に並べる、これがないと縦並びで表示される */
    gap: 10px;       /* 子要素同士の間隔 */
    margin-bottom: 20px;  /* 下側の余白 */
}

#new-task-input {  
/* id =  new-task-input の入力欄を装飾*/
    flex: 1;    /* 残ったスペースを入力欄にすべて使う（例）画面1000px, ボタン150pxのとき、残りの850pxを対象(入力欄)に使う */
    padding: 10px;   /* 内側(入力欄内)の余白　※marginは外側、paddingが内側 */
    font-size: 16px;   /* 入力文字サイズ */
}

#add-task-button {
    /* ボタン専用の設定 */
    padding: 10px 16px; /* ボタン内側余白　上下10px　左右16px */
    font-size: 16px;
    cursor: pointer;    /* マウスアイコンがボタン上で変化 */
}